**/bin/
**/obj/
**/out/
**/publish/

**/.vs/
**/.vscode/
**/.idea/
**/*.user

.git/
.gitignore
.github/

**/.env
**/.env.*

**/appsettings.Development.json
**/appsettings.Local.json
**/secrets.json

**/logs/
**/*.log

tests/
docs/
*.md
docker-compose*.yml
